* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font-color: #000;
    --primary-bkg-color: #fff;
}

body {
    color: var(--primary-font-color);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary-bkg-color);
}

a {
    text-decoration: none;
    color: var(--primary-font-color)
}
/* Navbar style */
header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: var(--primary-bkg-color);
    z-index: 999;
}

header h1 {
    font-size: 20px;
    font-weight: normal;
    flex: 1;
}

header nav {
    flex:1;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: right;
}

header nav ul li {
    flex: 1;
    margin-left: 60px;
}

header a:hover {
    font-weight: bold;
}

footer {
    margin: 0 40px 40px;
}

.section-titles {
    font-size: 50px;
    margin: 20px 20px 10px;

}

/* About section style */
.intro {
    background-image: url(../images/image-4.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 65px;
    margin: 0 40px 40px;
}

.intro h2 {
    display: none;
}

.intro p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 200px 50px;
    text-align: center;
}

/* work section style*/
.projects {
    margin: 0 40px 40px;
}

.projects h3 {
    text-align: end;
    padding: 25px 20px 10px;
}

.projects a {
    display: inline;
    flex: 1;
}

.project-1 {
    padding: 3px;
    height: 400px;
    width: 100%;
    background-image: url(../images/image-1-1.png);
    background-position: center;
}

.project-1:hover {
    background-image: url(../images/image-1-2.png);
}

.project-2 {
    height: 300px;
    background-image: url(../images/image-2.jpg);
    background-position: center;
}

.project-2:hover {
    background-image: url(../images/image-2-2.jpg);
}

.project-3 {
    height: 300px;
    background-image: url(../images/image-3.jpg);
    background-position: center;
}

.project-3:hover {
    background-image: url(../images/image-3-2.jpg);
}

/* contact section style */
.contact {
    margin: 0 40px;
}

.contact h2 {
    text-align: right;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
 }
#contact-image {
    padding: 20px 90px;
    flex: 1;
    text-align: center;
}

#contact-image img {
    height: 200px;
    width: auto;
}

.contact-links {
    flex: 4;
}

 .contact-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 }

 .contact-links ul li {
     flex: 1;
 }

 .contact-links a {
    margin: 40px 40px;
 }

 .contact-links a:hover {
     font-weight:  bold;
 }

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .contact h2 {
        text-align: center;
    }

    .contact-links {
        flex: auto;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {    
    header nav {
        flex: 2;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header h1 {
        font-size: 20px;
        font-weight: normal;
        flex: 3;
    }
    
    header nav {
        flex: 1;
    }
   
    .intro p {
        font-size: 19px;
        padding: 40px 0px;
    }

    .contact-links ul {
        flex-direction: column;
    }
}