* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000 ;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
}

header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 999;
}

header h1 {
    font-size: 20px;
    font-weight: normal;
}
header h1 a:hover {
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #000;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    margin-left: 60px;
}

header nav ul li a:hover {
    font-weight: bold;
}

footer {
    margin: 0 40px 100px;
}

.intro {
    background-image: url(../images/image-4.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 65px;
    margin: 0 40px 40px;
}

.intro h2 {
    display: none;
}

.intro p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.section-titles {
    font-size: 60px;
    margin: 20px 20px 10px;
    z-index: 998;

}
.projects {
    margin: 0 40px 40px;
}

.projects h3 {
    text-align: end;
    padding: 25px 20px 10px;
}
.project-large {
    padding: 3px;
    flex: 3 100%;
}

.project-small {
    padding: 0 3px 2px 3px;
    flex: 1 50%;
}

.project-large img {

}

.project-small img {

}

#project-img-1:hover {
    content: url(../images/image-1-2.jpg);
}

#project-img-2:hover {
    content: url(../images/image-2-2.jpg)
}

#project-img-3:hover {
    content: url(../images/image-3-2.jpg);
}

.contact {
    margin: 0 40px;
}


.contact-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
 }

 .contact-card img {
     height: 200px;
     width: auto;
 }
 .contact-card a {
     color: #000;
     text-decoration: none;
     padding: 20px 40px;
 }

 .contact-card a:hover {
     font-weight:  bold;
 }

.flex-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro p{
    padding: 200px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}